
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="Create" method="post">
    <label>Nombre</label><br>
    <input type="text" name="nombre" value=""><br><br>
    <label>Autor</label><br>
    <input type="text" name="autor" value=""><br><br>
    <label>Actores</label><br>
    <input type="text" name="actores" value="" size="70"><br><br>
    <label>Año</label><br>
    <input type="text" name="año" value=""><br><br>
    <label>Sipnosis</label><br>
    <textarea name="sipnosis" cols="40" rows="3">    </textarea><br>
    <input type="submit" value="Enviar">
</form>


